* {
    padding: 0px;
    margin: 0px;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(background_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-content{
    font-family: Montserrat;
    background-color: white;
    margin: 7% 12% 7% 7%;
    padding: 3% 3% 3% 3%;
}

.groups{
    display: flex;
    align-items: center;
    text-align: center;
}

.group-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.group-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stars{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#star-1{
    height: 1.7rem;
    width: 1.7rem;    
}

#star-2{
    height: 1.7rem;
    width: 1.7rem;    
}

#star-3{
    height: 1.7rem;
    width: 1.7rem;    
}

#star-4{
    height: 1.7rem;
    width: 1.7rem;    
}

#star-5{
    height: 1.7rem;
    width: 1.7rem;    
}

.info-1{
    font-size: 1.03rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.7rem;
    color: var(--second-text-color, #737373);
    padding: 0 25%;
}

.designer{
    display: flex;
    padding-top: 2rem;
}

#designer-photo{
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.designer-info{
    display: flex;
    flex-direction: column;
}

#designer-name{
    color: #23A6F0;
    font-weight: bolder;
    font-size: 1rem;
}

#designer-descrption{
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-right: 1.8rem;
}

.divider {
    height: 20rem;
    width: 0.125rem;
    background-color: lightgray;
    margin: 1.2rem;
  }

#help-text{
    color: var(--disabled-element-text-color, #8EC2F2);
    font-family: Montserrat;
    font-size: 1.05rem;
    font-style: normal;
    padding-top: 1rem;
}

#flashy-text{
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: bold;
    padding: 5% 11% 5% 11%;
    }

.container form {
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    }
      
#email {
    box-sizing: border-box;
    height: 3.62rem;
    width: 16.37rem;
    margin-bottom: 0.7em;
    padding-left: 1.25rem;
    border: 1px solid #e6e6e6;
    color: gray;
    background-color: #f9f9f9;
    border-radius: 3px;
    font-size: 0.87rem;
    }
      
#email::placeholder {
    font-weight: bolder;
    }
      
#submit {
    height: 3.62rem;
    width: 8rem;
    border: none;
    background-color: #23a6f0;
    font-size: 0.87rem;
    color: white;
    border-radius: 3px;
    }

#help-text-2{
    color: var(--disabled-element-text-color, #737373);
    font-family: Montserrat;
    font-size: 1.05rem;
    font-style: normal;
    padding-top: 1rem; 
    }

@media only screen and (max-width: 767px) {
    body {
        background-image: url(background_img.png);
        min-height: 100vh;
    }

    .all-content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30rem;
        text-align: center;
        padding: 3rem;
        gap: 1.56rem;
        background-color: white;
        margin: 5%;
    }

    .groups{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .group-1 {
        display: flex;
        width: 10rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.87rem;
    }

    .info-1 {
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }

    .divider {
        height: 0.125rem;
        width: 20rem;
    }

    .group-2 {
        display: flex;
        width: 30rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.87rem;
    }
